
// Mixins, fonts, colors, utility classes
@import 'variables'; 

// Legacy prototype styles
@import 'legacy';

// Standard reset
@import 'reset'; 

// Shared styles -- fonts, h1s, etc.
@import 'universal'; 

// Header styles
@import 'header'; 

// Footer styles
@import 'footer'; 

// Code Editor styles;
@import 'editor';

// Asset switcher styles
@import 'assets';

// Docs / Getting Started styles
@import 'docs';

// GameView / Player Page styles
@import 'gameView';

#overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	background: blue;
}